#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem 2rem; */
  /* text-align: center; */
  background-color: white
}

.main {
  /* margin: 0 auto; */
  /* padding: 2rem; */
}

.site-footer {
  background: #00563d;
  border-top: 0px solid #dddddd;
  border-bottom: 0px solid #dddddd;
  border-left: 0px solid #dddddd;
  border-right: 0px solid #dddddd;
  overflow: hidden;
  clear: both;
}


.list_style {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Footer{
  margin-top: auto;
}

.Navbar{
  position:sticky;
  z-index: 1;
  top:0;
  overflow:visible;
}